<button
    class="{{ [ 'e-tab-title' ] | merge( className ) | join( ' ' ) }}"
    data-id="{{ id }}"
    data-target="{{ target }}"
    style="width: 100px; height: 35px;"
>
    {{ value }}
</button>
